/*@import is gebruikt voor het lettertype Sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*body is wat op elke body tag wordt toegepast, praktisch gezien elke pagina*/
body {
  /*font-family is voor het lettertype sans serif*/
  font-family: sans-serif;
  /*height geeft de hoogte van de site aan(dus eigenlijk hoever je naar beneden kunt scrollen*/
  height:1000px;
  /*background color is de kleur van de achtergrond*/
    background-color: rgb(0, 0, 0);
  /*ul zorgt ervoor dat de navigatiebar werkt*/
    ul {
      /*list-style-type is voor wat voor type lijst je wilt hebben*/
    list-style-type: none;
    /*margin is de afstand van de rand van een element tot de rand van het andere element of de rand van het element ernaast*/
    margin: 0;
    /*padding is de lege ruimte om tekst/afbeelding*/
    padding: 0;
  }
  /*a is voor de navigatiebar*/
  a {
    /*zorgt ervoor dat de knoppen blokken hebben*/
    display: block;
    /*ruimte om de tekst heen*/
    padding: 8px;
  }
/*dit is voor de blokken op de pagina kleurmodellen*/
}
.kleurrood {
  /*width is hoe wijd de border is*/
  width: 15em;
  /*hoe dik de border is*/
  border: 1px solid #fd0b0b;
  /*box shadow is de schaduw*/
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  /*de positie van de dov*/
  position:relative; top:0px; left: 540px; margin-left:0px; margin-right:0px;
  /*de kleur van de box*/
  background-image: linear-gradient(180deg, #e71313, #ff6f00 40%, #d31155);
}
/*ul zorgt ervoor dat de navigatiebar werkt*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  /*bepaalt dat de navigatiebar aan de linkerkant begint*/
  li {
    float: left;
  }
  /*dit geeft te links een kleur en padding*/
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 19px;
    text-decoration: none;
  }
  
/*dit is voor de kleur als je over de link hovert*/
  li a:hover {
    background-color: black;
}
/*code voor de tekst op pagina kleurmodellen*/
.roodtekst1{
  /*Hoe wijd het blok is*/
  width: 20em;
  /*hoe dik de border is en de kleur*/
  border: 1px solid #fd0b0b;
  /*de schaduw van de box*/
  box-shadow: 8px 8px 5px #444;
  /*padding om de tekst*/
  padding: 8px 18px;
  /*de positie van de doos*/
  position:relative; top:20px; left: 500px; margin-left:0px; margin-right:0px;
  /*de kleur van de door*/
  background-image: linear-gradient(180deg, #e71313, #ff6f00 40%, #f20000);
}
.roodtekst2{
  width: 20em;
  border: 1px solid #fd0b0b;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 18px;
  position:relative; top:30px; left: 500px; margin-left:0px; margin-right:0px;
  background-image: linear-gradient(180deg, #e71313, #ff6f00 40%, #f20000);
}
/*dit is zodat de afbeelding op de pagina binair in het midden blijft*/
.binair {
  float: center;
}
.school{
/*De code hieronder is voor de border om de schoolafbeelding*/
/*dat de afbeelding links zit*/
  float: left;
  /*de kleur van de border*/
  border-color: #e71313;
  /*hoe dik de border is*/
  border-radius: 10px;
  /*de kleur van de border*/
  border: solid #ff6f00;
}
/*hiernaa is de code hetzelfde voor alle andere borders op deze site*/
.sport{
/*De code hieronder is voor de border om afbeelding van de sportschool en de tekst erboven*/
  float: left;
  border-color: #e71313;
  border-radius: 10px;
  border: solid #ff0000;
}
.werk{
/*De code hieronder is voor de border om afbeelding van mijn werk en de tekst erboven*/
  float: left;
  border-color: #c27e1f;
  border-radius: 10px;
  border: solid #c27e1f;
}
.PS4{
/*De code hieronder is voor de border om afbeelding van de PS4 en de tekst erboven*/
  float: left;
  border-color: rgb(0, 0, 255);
  border-radius: 10px;
  border: solid rgb(0, 0, 255);
}
.Floris{
/*De code hieronder is voor de border om de link naar de website van Floris en de tekst erboven*/
  float: left;
  border-color: rgb(0, 0, 255);
  border-radius: 10px;
  border: solid rgb(0, 0, 255);
}
.Dante{
/*De code hieronder is voor de border om de link naar de website van Dante en de tekst erboven*/
  float: left;
  border-color: rgb(255, 0, 0);
  border-radius: 10px;
  border: solid rgb(255, 0, 0);
}
.Tamer{
/*De code hieronder is voor de border om de link naar de website van Tamer en de tekst erboven*/
  float: left;
  border-color: green;
  border-radius: 10px;
  border: solid rgb(0, 128, 0);
}
.Tim{
/*De code hieronder is voor de border om de link naar de website van Tim van Nobelen en de tekst erboven*/
  float: left;
  border-color: rgb(0, 238, 255);
  border-radius: 10px;
  border: solid rgb(0, 238, 255);
}
.Thom{
/*De code hieronder is voor de border om de link naar de website van Thom van Nobelen en de tekst erboven*/
  border-inline: 100%;
float: left;
  border-color: white;
  border-radius: 10px;
  border: solid rgb(255, 255, 255);
}
.input{
  /*De code hieronder is voor de border om de tekst*/
    border-inline: 100%;
  float: left;
    border-color: red;
    border-radius: 10px;
    border: solid rgb(255, 0, 0);
  }
  .compressie{
    /*De code hieronder is voor de border om de tekst*/
      border-inline: 100%;
    float: left;
      border-color: orange;
      border-radius: 10px;
      border: solid rgb(255, 165, 0);
    }