@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: sans-serif;
  height:1000px;
    background-color: rgb(0, 0, 0);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    padding: 8px;
  }
/*dit is voor de blokken op de pagina kleurmodellen*/
}
.kleurrood {
  width: 15em;
  border: 1px solid #fd0b0b;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  position:relative; top:0px; left: 540px; margin-left:0px; margin-right:0px;
  background-image: linear-gradient(180deg, #e71313, #ff6f00 40%, #d31155);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 19px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #000000;
}
.roodtekst1{
  width: 20em;
  border: 1px solid #fd0b0b;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 18px;
  position:relative; top:20px; left: 500px; margin-left:0px; margin-right:0px;
  background-image: linear-gradient(180deg, #e71313, #ff6f00 40%, #f20000);
}
.roodtekst2{
  width: 20em;
  border: 1px solid #fd0b0b;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 18px;
  position:relative; top:30px; left: 500px; margin-left:0px; margin-right:0px;
  background-image: linear-gradient(180deg, #e71313, #ff6f00 40%, #f20000);
}
.binair {
  float: center;
}
.school{
/*De code hieronder is voor de border om de schoolafbeelding*/
  float: left;
  border-color: #e71313;
  border-radius: 10px;
  border: solid #ff6f00;
}

.sport{
/*De code hieronder is voor de border om afbeelding van de sportschool en de tekst erboven*/
  float: left;
  border-color: #e71313;
  border-radius: 10px;
  border: solid #ff0000;
}
.werk{
/*De code hieronder is voor de border om afbeelding van mijn werk en de tekst erboven*/
  float: left;
  border-color: #c27e1f;
  border-radius: 10px;
  border: solid #c27e1f;
}
.PS4{
/*De code hieronder is voor de border om afbeelding van de PS4 en de tekst erboven*/
  float: left;
  border-color: rgb(0, 0, 255);
  border-radius: 10px;
  border: solid rgb(0, 0, 255);
}
.Floris{
/*De code hieronder is voor de border om de link naar de website van Floris en de tekst erboven*/
  float: left;
  border-color: rgb(0, 0, 255);
  border-radius: 10px;
  border: solid rgb(0, 0, 255);
}
.Dante{
/*De code hieronder is voor de border om de link naar de website van Dante en de tekst erboven*/
  float: left;
  border-color: rgb(255, 0, 0);
  border-radius: 10px;
  border: solid rgb(255, 0, 0);
}
.Tamer{
/*De code hieronder is voor de border om de link naar de website van Tamer en de tekst erboven*/
  float: left;
  border-color: green;
  border-radius: 10px;
  border: solid rgb(0, 128, 0);
}
.Tim{
/*De code hieronder is voor de border om de link naar de website van Tim van Nobelen en de tekst erboven*/
  float: left;
  border-color: rgb(0, 238, 255);
  border-radius: 10px;
  border: solid rgb(0, 238, 255);
}
.Thom{
/*De code hieronder is voor de border om de link naar de website van Thom van Nobelend en de tekst erboven*/
  border-inline: 100%;
float: left;
  border-color: white;
  border-radius: 10px;
  border: solid rgb(255, 255, 255);
}